@import "tailwindcss";

@layer utilities {
  .bg-slideshow {
    background-size: cover;
    background-repeat: no-repeat;
    animation: slideshow 30s infinite;
  }

  @keyframes slideshow {
    0% {
      background-image: url('/src/assets/background3.jpg');
      background-position: 60% center;
    }
    25% {
      background-image: url('/src/assets/background4.jpg');
      background-position: 65% center;
    }
    50% {
      background-image: url('/src/assets/background5.jpg');
      background-position: 70% center;
    }
    75% {
      background-image: url('/src/assets/background1.jpeg');
      background-position: 68% center;
    }
    100% {
      background-image: url('/src/assets/background.webp');
      background-position: center center; /* .webp je centrirana */
    }
  }

  .animate-fadeBackground {
    animation: fadeInOut 10s ease-in-out infinite alternate;
  }

  @keyframes fadeInOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0.95;
    }
  }
}