absl-py==2.2.2
attrs==25.3.0
blinker==1.9.0
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
coloredlogs==15.0.1
contourpy==1.3.2
cycler==0.12.1
dlib==19.24.6
-e git+https://github.com/stefanoknez/dream_aesthetics.git@8f2d260ca545d24bf03b8121b5aa5fb7cdb7d736#egg=dynaface&subdirectory=dynaface-main/dynaface-lib
facenet-pytorch==2.6.0
filelock==3.18.0
Flask==3.1.0
flask-cors==5.0.1
flatbuffers==25.2.10
fonttools==4.57.0
fsspec==2025.3.2
GoldenFace==1.1
humanfriendly==10.0
idna==3.10
imageio==2.37.0
itsdangerous==2.2.0
jax==0.5.3
jaxlib==0.5.3
Jinja2==3.1.6
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
kiwisolver==1.4.8
lazy_loader==0.4
llvmlite==0.44.0
MarkupSafe==3.0.2
matplotlib==3.10.1
mediapipe==0.10.21
ml_dtypes==0.5.1
mpmath==1.3.0
mypy==1.15.0
mypy-extensions==1.0.0
networkx==3.4.2
numba==0.61.2
numpy==1.26.4
onnxruntime==1.21.0
opencv-contrib-python==4.11.0.86
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
opt_einsum==3.4.0
packaging==24.2
pillow==10.2.0
platformdirs==4.3.7
pooch==1.8.2
protobuf==4.25.6
pycparser==2.22
PyMatting==1.1.13
pyparsing==3.2.3
python-dateutil==2.9.0.post0
referencing==0.36.2
rembg==2.0.65
requests==2.32.3
rpds-py==0.24.0
scikit-image==0.25.2
scikit-learn==1.6.1
scipy==1.15.2
sentencepiece==0.2.0
setuptools==78.1.0
six==1.17.0
sounddevice==0.5.1
sympy==1.13.3
threadpoolctl==3.6.0
tifffile==2025.3.30
torch==2.2.2
torchvision==0.17.2
tqdm==4.67.1
types-Pillow==10.2.0.20240822
types-pyinstaller==6.12.0.20250308
types-requests==2.32.0.20250328
types-setuptools==78.1.0.20250329
typing_extensions==4.13.2
urllib3==2.4.0
Werkzeug==3.1.3
